<h1>Edit Figure</h1>

<form  action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Name: </label><br><br>
  <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>">
  <br><br>

  <label>Titles: </label><br><br>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>" <%= 'checked' if @figure.titles.include?(title) %>><%= title.name %></input><br>
  <% end %>
  <br>
  <input type="text" name="title[name]" id="new_title"> (new)
  <br><br>

  <label>Landmarks: </label><br><br>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>" <%= 'checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %></input><br>
  <% end %>
  <br>
  <input type="text" name="landmark[name]" id="new_landmark"> (new)
  <br><br>

  <input type="submit" name="submit" value="Edit Figure">
</form>
